.instruments-display-container {
  margin-top: 75px;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .instruments-display-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .instruments-display-title {
      /* Style for "Instrument" */
      width: 357px;
      height: 31px;
      color: #041e50;
      font-family: Lato;
      font-size: 25px;
      // font-weight: 900;
      letter-spacing: 1.25px;
      /* Text style for "Instrument" */
      // font-family: "Lato - Regular";
      font-weight: 400;
      text-transform: uppercase;
      /* Text style for "" */
      // font-family: "Lato - Regular";
      // font-weight: 400;
      box-sizing: border-box;
    }

    .instruments-display-highlight-text {
      margin-left: 5px;
      font-weight: 900;
    }

    .instruments-display-main-text {
      /* Style for "It is a lo" */
      width: 576px;
      height: 20px;
      color: #222222;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
      /* Text style for "It is a lo" */
      text-transform: lowercase;
    }
  }

  .instruments-nav-bar-container {
    /* Style for "Caminho 16" */
    width: 721px;
    height: 42px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-bottom: 1px solid #041e50;
    margin-top: 50px;
    
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
      margin-top: 5px;
      position: relative;
    }

    li {
      text-decoration: none;
      margin-right: 120px;
      color: #041e50;
      cursor: pointer;
      /* Style for "Cordas" */
      // width: 54px;
      height: 20px;
      color: #041e50;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.8px;
    }

    .instruments-display-keys-item {
      /* Style for "Percussão" */
      width: 99px;
      height: 25px;
      color: #041e50;
      font-family: Lato;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .collection-highlight {
      /* Style for "Retângulo" */
      width: 90px;
      height: 4px;
      border-radius: 2px;
      background-color: #041e50;
      position: absolute;
      top: 35px;
      right: 35px;
    }
  }

  .instruments-display-button-container {
    /* Style for "Retângulo" */
    width: 155px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #041e50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 86px;
    margin-bottom: 86px;

    .instruments-display-button {
      /* Style for "VER MAIS" */
      width: 70px;
      height: 16px;
      color: #041e50;
      font-family: Lato;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}